# Tech Leader: @laminne

pkg/ @laminne

resources/ @laminne

main.ts @laminne

docs/api.yaml @laminne

# Core Team: @m1sk9, @MikuroXina, @Colk-tech

.github/CODE_OF_CONDUCT_JA.md @m1sk9 @MikuroXina @Colk-tech

CODE_OF_CONDUCT.md @m1sk9 @MikuroXina @Colk-tech
