services:
  pulsate:
    build: .
    restart: on-failure
    container_name: pulsate
    environment:
      - DATABASE_URL=postgresql://pulsate:pulsate_db_pass@db:5432/pulsate?schema=public
      - TURNSTILE_SECRET=1x0000000000000000000000000000000AA
      - VALKEY_REDIS_HOST=kv
    ports:
      - "3000:3000"
  db:
    image: postgres:18
    container_name: db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=pulsate
      - POSTGRES_PASSWORD=pulsate_db_pass
  kv:
    image: valkey/valkey
    container_name: kv
    ports:
      - "6379:6379"
    volumes:
      - kv_data:/data


volumes:
  db_data:
  kv_data:
