name: Build CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'

      - name: Run install
        run: |
          pnpm i --frozen-lockfile

      - name: Run type checks
        run: |
          pnpm check:type

      - name: Run biome check
        run: |
          pnpm biome ci

      - name: Run ls-lint
        run: |
          pnpm check:filename

      - name: Run test
        run: |
          pnpm test:coverage

      - name: Run build
        run: |
          pnpm build

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage/coverage-final.json
          token: ${{ secrets.CODECOV_TOKEN }}
